nav{
  display: flex;
}
.drawer,.MuiDrawer-paper{
  width: 240px;
height: auto !important;
margin: 15vh 10px;
border-radius: 10px;

}

nav span{
  font-size: 1.2rem!important;
  font-weight: 800 !important;
  color: var(--text-color);
}

nav .active{
  background-color: skyblue;
}

#Languages{
  float: right;
  margin: 12px 20px;
}

#Languages svg{
  font-size: 30px !important;
}

#Languages button:after{
  content: "";
}


/* Responsive */
@media screen and (max-width: 700px){
  .drawer,.MuiDrawer-paper{
    width: 60px;
    overflow: hidden;
  }
  .drawer .MuiTypography-root{
    display: none;
  }
}