.row{display:flex; flex-direction:row;}


.drawer,.MuiDrawer-paper{
  width: 240px;
height: auto !important;
margin: 0 20px;
border-radius: 10px;
margin-top: 25vh;

}

nav span{
  font-size: 1.2rem!important;
  font-weight: 800 !important;
  color: var(--text-color);
}

nav .active{
  background-color: skyblue;
}

#Languages{
  position: absolute;
 right: 10px;
 top: 30px;
}

#Languages svg{
  font-size: 40px !important;
  color: white;
}


/* Responsive */
@media screen and (max-width: 700px){
  .drawer,.MuiDrawer-paper{
    width: 60px;
    overflow: hidden;

  }
  .drawer .MuiTypography-root{
    display: none;
  }
}




