/* In This Page We will use css vars */

/*  #99DDFF #00458B*/
:root{
    --color1 : #00458B;
    --text-color : #0d6fd1;
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(223, 223, 223);
}

svg{
  font-size: 25px;
  color: var(--color1);
}